body {
    max-width:800px;
    margin:0 25%;
}

#addTask{
   margin-top:16px;
}

.taskList{
   width:800px;
   display: flex;
   align-items: center;
}



.taskItem {
    display: flex;
    align-items: center;
}

.remindChara img{
    width: 80px;

}

.archived {
    color: #757575; /* 灰色のテキスト */
    background-color: #f0f0f0; /* 薄灰色の背景 */
}